<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Show Page</h1>
  </header>

  <main>
    <ul>
      <% for (let i = 0; i < bookFront.length; i ++) { %>
        <li>
          <img src="<%=bookFront[i].image_url%>" alt="">
          <h2><%=bookFront[i].title%></h2>
          <h3><%=bookFront[i].author%></h3>
          <p><%=bookFront[i].description%></p>
          <form action="/books" method="post">
          <input hidden type="text" value= <%=bookFront[i].title %> >
          <input hidden type="text" value= <%=bookFront[i].author %> >
          <input hidden type="text" value= <%=bookFront[i].description %> >
          <input hidden type="text" value= <%=bookFront[i].image_url %> >

          <button type = "submit">save</button> 
          </form>
        </li>

        <%}%>
    </ul>
  </main>
</body>
</html>